{% extends 'back/base.html.twig' %}


{% block body %}
<div class="d-flex flex-column w-100">
    {% include "fragments/_flash_message.html.twig" %}
    <h2>Liste des Cours</h2>
    <div class="align-self-end">
        <a href="{{ path('app_back_course_new') }}" class="btn">Nouveau</a>
    </div>
</div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <th scope="row">{{ course.id }}</td>
                <td>{{ course.name }}</td>
                <td>
                    <a href="{{ path('app_back_course_show', {'id': course.id}) }}" class="btn">Voir</a>
                    <a href="{{ path('app_back_course_edit', {'id': course.id}) }}" class="btn course-btn-edit">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Ressource non trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
