{% extends 'back/base.html.twig' %}

{% block body %}
    <h2>Cours {{ course.name }}</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ course.name }}</td>
            </tr>
            <tr>
                <th>Jour</th>
                <td>{{ course.day }}</td>
            </tr>
            <tr>
                <th>Heure</th>
                <td>{{ course.hour ? course.hour|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_back_course_index') }}">Retour</a>

    <a href="{{ path('app_back_course_edit', {'id': course.id}) }}">Editer</a>

    {{ include('back/course/_delete_form.html.twig') }}
{% endblock %}
