{% extends 'back/base.html.twig' %}

{% block body %}
    <h2>Cours {{ course.name }}</h2>
    {% include "fragments/_flash_message.html.twig" %} 
    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ course.name }}</td>
            </tr>
            <tr>
                <th>Jour</th>
                <td>{{ course.day }}</td>
            </tr>
            <tr>
                <th>Heure</th>
                <td>{{ course.hour ? course.hour|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Liste des inscrits</h2>
    <a href="{{ path('app_back_course_email', {id:course.id})}}" class="btn btn-primary mt-2">Envoyer un mail au groupe</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" class="user-licenceNumber">Numéro de licence</th>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody id="user-tbody">
            {% for user in course.users %}
                <tr>
                    <th class="text-uppercase user-licenceNumber">{{ user.licenceNumber }}</th>
                    <td class="user-firstname">{{ user.firstname }}</td>
                    <td class="user-lastname">{{ user.lastname }}</td>
                    <td>
                        <a href="{{ path('app_back_user_show', {id: user.id})}}" class="btn btn-show">Voir</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


    <a href="{{ path('app_back_course_index') }}">Retour</a>

    <a href="{{ path('app_back_course_edit', {'id': course.id}) }}">Editer</a>

    {{ include('back/course/_delete_form.html.twig') }}
{% endblock %}
