{% extends 'base.html.twig' %}
{% block body %}


    <div class="container mt-5">

        <!-- Section Tarifs -->
        <h2 class="mb-4 text-center">Tarifs</h2>
        <section class="mb-5 mt-5 p-5 section-personnalisee rounded shadow"> 
            {% for tarif in tarifs %}
                <ul class="list-group pb-3">
                    <h3 class="text-center">{{ tarif.name }}</h3>
                    <li class="list-group-item case-twig">
                    Âge minimum : {{ tarif.ageMin }} ans
                    </li>
                    <li class="list-group-item case-twig">
                    Âge maximum : {{ tarif.ageMax }} ans
                    </li>
                    <li class="list-group-item case-twig">
                    Tarif : {{ tarif.amount }} €
                    </li>
                    <li class="list-group-item case-twig">
                    Matériel : {{ tarif.gearAmount }} €
                    </li> 
                </ul>
            {% endfor %}
        </section>

        <!-- Section Horaires -->
        <section class="p-5 section-personnalisee rounded shadow text-center"> 
            <h2 class="mb-4">Horaires</h2>
            <table class="table table-striped table-bordered table-slot">
                <thead>
                    <tr>
                        <th><h3>Jour</h3></th>
                        <th><h3>Nom du cours</h3></th>
                        <th><h3>Heures</h3></th>
                    </tr>
                </thead>
                <tbody>
                    {% for course in courses %}
                        <tr>
                            <td>{{ course.day }}</td>
                            <td>{{ course.name }}</td>
                            <td>{{ course.hour|date('H:i') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

    </div>
    {% block javascripts %} 
    <!-- Scripts Bootstrap (pour ajouter les fonctionnalités JS de Bootstrap si besoin) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% endblock %}
{% endblock %}

