{% extends 'base.html.twig' %}
{% block body %}


    <div class="container pt-5 pb-5">
        <!-- Prices section -->
        <section class="my-4 p-4  rounded shadow"> 
            <h2 class="mb-4 text-center">Tarifs</h2>
            <div class="row text-center justify-content-center">
                {% for tarif in tarifs %}

                    {% set amountWithGear = tarif.amount + tarif.gearAmount %}
                    {% if tarif.name == "Baby" %}
                    <div class="col-lg-5 course-tarif m-2 p-3">
                        <h3>{{ tarif.name }}</h3>
                        <p class="age-tarif">de {{ tarif.ageMin }} ans à {{ tarif.ageMax }} ans</p>
                        <div class="list-amount">
                            <p class="mt-2">Avec prêt de matériel</p>
                            <p class="amount">{{ amountWithGear }} €</p>
                        </div>   
                    </div>
                    {% else %}
                        <div class="col-lg-5 course-tarif m-2 p-3">
                        <h3>{{ tarif.name }}</h3>

                        {% if tarif.ageMax is not null %}
                        <p class="age-tarif">de {{ tarif.ageMin }} ans à {{ tarif.ageMax }} ans</p>
                        {% else %}
                        <p>à partir de {{ tarif.ageMin }} ans</p>
                        {% endif %}

                        <div class="list-amount">
                            <p class="mt-2">Sans prêt de matériel</p>
                            <p class="amount">{{ tarif.amount }} €</p>
                        </div>  
                        <div class="list-amount">
                            <p class="mt-2">Avec prêt de matériel</p>
                            <p class="amount">{{ amountWithGear }} €</p>
                        </div>  
                    </div>
                    {% endif %}
                {% endfor %}
            </div>    
        </section>

        <!-- Hours section -->
        <section class="my-4 p-4  rounded shadow text-center"> 
            <h2 class="mb-4 text-center">Horaires</h2>
            <div class="text-center justify-content-center table-responsive">
               <table class="table table-hover table-bordered align-middle table-slot">
                    <thead>
                        <tr class="align-middle">
                            <th scope="col"><h3>Jour</h3></th>
                            <th scope="col"><h3>Nom du cours</h3></th>
                            <th scope="col"><h3>Heures</h3></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for course in courses %}
                            <tr>
                                <td>{{ course.day }}</td>
                                <td>{{ course.name }}</td>
                                <td>{{ course.hour|date('H:i') }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>

{% endblock %}

