{{ form_start(form, {'attr': {'class': 'w-100'}}) }}
    <div class="row justify-content-center">
        <div class="col-lg-5 mx-2 ">
            {{ form_label(form.name) }}{{ form_widget(form.name) }}{{ form_errors(form.name) }}
        </div>
    </div>
    <button class="btn mt-3">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
