{% extends 'back/base.html.twig' %}

{% block body %}
<div class="d-flex flex-column w-100">
    <h2>Liste des Types de Cours</h2>
    <div class="align-self-end">
        <a href="{{ path('app_back_tarif_new') }}" class="btn">Nouveau</a>
    </div>
</div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for course_type in course_types %}
            <tr>
                <td>{{ course_type.id }}</td>
                <td>{{ course_type.name }}</td>
                <td>
                    <a href="{{ path('app_back_course_type_show', {'id': course_type.id}) }}">Voir</a>
                    <a href="{{ path('app_back_course_type_edit', {'id': course_type.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Ressource non trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_back_course_type_new') }}">Create new</a>
{% endblock %}
