{% extends 'back/base.html.twig' %}

{% block body %}
<div class="d-flex flex-column w-100">
    {% include "fragments/_flash_message.html.twig" %}
    <h2>Liste des Tarifs</h2>
    <div class="align-self-end">
        <a href="{{ path('app_back_tarif_new') }}" class="btn">Nouveau</a>
    </div>
</div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tarif in tarifs %}
            <tr>
                <th scope="row">{{ tarif.id }}</th>
                <td>{{ tarif.name }}</td>
                <td>
                    <a href="{{ path('app_back_tarif_show', {'id': tarif.id}) }}" class="btn">Voir</a>
                    <a href="{{ path('app_back_tarif_edit', {'id': tarif.id}) }}" class="btn tarif-btn-edit">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Ressource non trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
