{% extends 'back/base.html.twig' %}

{% block body %}
    <h2>Tarif {{ tarif.name }}</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ tarif.name }}</td>
            </tr>
            <tr>
                <th>Age Minimum</th>
                <td>{{ tarif.ageMin }}</td>
            </tr>
            <tr>
                <th>Age Maximum</th>
                <td>{{ tarif.ageMax }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ tarif.amount }}</td>
            </tr>
            <tr>
                <th>Prix Equipement</th>
                <td>{{ tarif.gearAmount }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_back_tarif_index') }}">retour</a>

    <a href="{{ path('app_back_tarif_edit', {'id': tarif.id}) }}">editer</a>

    {{ include('back/tarif/_delete_form.html.twig') }}
{% endblock %}
