{% extends 'base.html.twig' %}

{% block title %}Tarif{% endblock %}

{% block body %}
    <h1>Tarif</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tarif.id }}</td>
            </tr>
            <tr>
                <th>AgeMin</th>
                <td>{{ tarif.ageMin }}</td>
            </tr>
            <tr>
                <th>AgeMax</th>
                <td>{{ tarif.ageMax }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ tarif.amount }}</td>
            </tr>
            <tr>
                <th>GearAmount</th>
                <td>{{ tarif.gearAmount }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ tarif.createdAt ? tarif.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ tarif.updatedAt ? tarif.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ tarif.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_back_tarif_index') }}">back to list</a>

    <a href="{{ path('app_back_tarif_edit', {'id': tarif.id}) }}">edit</a>

    {{ include('back/tarif/_delete_form.html.twig') }}
{% endblock %}
