{% extends 'back/base.html.twig' %}

{% block body %}
    <h2>Tarif {{ tarif.name }}</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ tarif.name }}</td>
            </tr>
            <tr>
                <th>Age Minimum</th>
                <td>{{ tarif.ageMin }}</td>
            </tr>
            <tr>
                <th>Age Maximum</th>
                <td>{{ tarif.ageMax is not null ? tarif.ageMax : 'aucun' }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ tarif.amount }}</td>
            </tr>
            <tr>
                <th>Prix Equipement</th>
                <td>{{ tarif.gearAmount }}</td>
            </tr>
        </tbody>
    </table>
     <div class="row">
        <div class="col-lg-6 mt-2 mt-lg-0">
            <a class="btn btn-primary" href="{{ path('app_back_tarif_edit', {'id': tarif.id}) }}">Modifier</a>
        </div>
        <div class="col-lg-6 mt-2 mt-lg-0">
            {{ include('back/tarif/_delete_form.html.twig') }}
        </div>
    </div>    
    <a href="{{ path('app_back_tarif_index') }}">retour</a>
{% endblock %}
