<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>O'Tir</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>


    <body>
        <header>
            <!-- Nav -->
            <nav class="navbar navbar-expand-lg" id="navbar">
                <div class="container-fluid">
                    <img src="{{ asset('images/logo-otir.png') }}" alt="logo club otir" id="logo">
                    <h1>O'tir</h1>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-ul">
                            <li class="nav-item p-lg-2">
                                <a class="nav-link" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
                            </li>
                            <li class="nav-item p-lg-2">
                                <a class="nav-link" href="#">Horaires et tarifs</a>
                            </li>
                            <li class="nav-item p-lg-2">
                                <a class="nav-link" href="#">Contact</a>
                            </li>
                            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                                <li class="nav-item p-lg-2">
                                    <a class="nav-link" href="{{ path('app_user') }}">Mon profil</a>
                                </li>
                                <li class="nav-item p-lg-2">
                                    <a class="nav-link" href="{{ path('app_organizational_chart') }}">Organigramme</a>
                                </li>
                        </ul>
                                <span class="navbar-text">
                                    <a href="{{path('app_logout')}}" class="btn btn_deconnexion" id="btn_deconnexion">Déconnexion</a>
                                </span> 
                            {% else %}
                        </ul>
                                <span class="navbar-text">
                                    <a href="{{path('app_login')}}" class="btn btn_connexion" id="btn_connexion">Connexion</a>
                                </span>
                            {% endif %}
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <div class="content">
                {% block body %}{% endblock %}
            </div>
        </main>
        
        <!-- Footer -->
        <footer class="footer">
            <div class="footer-container">
                <div class="footer-col">
                    <h4>Mentions légales</h4>
                    <a class="footer-link" href="{{ path('app_legal_notice') }}">Consulter</a>
                </div>
                <div class="footer-col">
                    <h4>Retrouvez-nous</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="footer-col">
                    <h4>Nos partenaires</h4>
                    <ul>
                        <li><a class="footer-link" href="#">partenaire 1</a></li>
                        <li><a class="footer-link" href="#">partenaire 2</a></li>
                        <li><a class="footer-link" href="#">partenaire 3</a></li>
                    </ul>
                </div>
            </div>
        </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>
