<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horaire et Tarifs</title>
    
    <!-- Lien vers le fichier CSS de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Styles personnalisés -->
    <style>
        body {
            background-color: #137C8B;  /* Vert */
        }

        .section-personnalisee {
            background-color: #B8CBD0;  /* Gris  */
        }
   
    </style>

</head>
<body>

    <div class="container mt-5">

        <!-- Section Tarifs -->
        <section class="mb-5 p-5 section-personnalisee rounded shadow"> 
            <h2 class="text-primary mb-4">Tarifs</h2>
            <ul class="list-group">
                {% for tarif in tarifs %}
                    <li class="list-group-item"> 
                        <strong>Cours pour:</strong> {{ tarif.name }}<br>
                        <strong>Âge minimum:</strong> {{ tarif.age_min }} ans<br>
                        <strong>Âge maximum:</strong> {{ tarif.age_max }} ans<br>
                        <strong>Tarif:</strong> {{ tarif.amount }} €<br>
                        <strong>Matériel:</strong> {{ tarif.gear_amount }} €
                    </li>
                {% endfor %}
            </ul>
        </section>

        <!-- Section Horaires -->
        <section class="p-5 section-personnalisee rounded shadow"> 
            <h2 class="text-primary mb-4">Horaires</h2>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Jour</th>
                        <th>Nom du cours</th>
                        <th>Heures</th>
                    </tr>
                </thead>
                <tbody>
                    {% for course in courses %}
                        <tr>
                            <td>{{ course.day }}</td>
                            <td>{{ course.name }}</td>
                            <td>{{ course.hour|date('H:i') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

    </div>

    <!-- Scripts Bootstrap (pour ajouter les fonctionnalités JS de Bootstrap si besoin) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
</body>
</html>
