{% extends 'base.html.twig' %}
{% block body %}

    <div class="container mt-5">

        <!-- Section Tarifs -->
     <h2 class="mb-4 text-center">{{ tarif.name }}</h2>
        <section class="mb-5 mt-5 p-5 section-personnalisee rounded shadow"> 

                  <ul class="list-group pb-3">
                    <h3 class="text-center">{{ tarif.name }}</h3>
                    <li class="list-group-item case-twig">
                    Âge minimum : {{ tarif.ageMin }} ans
                    </li>
                    <li class="list-group-item case-twig">
                    Âge maximum : {{ tarif.ageMax }} ans
                    </li>
                    <li class="list-group-item case-twig">
                    Tarif : {{ tarif.amount }} €
                    </li>
                    <li class="list-group-item case-twig">
                    Matériel : {{ tarif.gearAmount }} €
                    </li> 
                </ul>
                
                     <div class="float-right">
                            
                            <button class="btn btn-warning btn-sm mr-2">Modifier</button>
                            <button class="btn btn-danger btn-sm">Supprimer</button>
                        </div>
            
        </section>

        <!-- Boutons en bas -->
        <div class="footer-buttons">
            <a href="{{ path('route_retour') }}" class="btn btn-secondary">Retour</a>
            
           
            
        </div>

    </div>

    {% block javascripts %} 
    <!-- Scripts Bootstrap (pour ajouter les fonctionnalités JS de Bootstrap si besoin) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% endblock %}
    
    
{% endblock %}
