{% extends 'back/base.html.twig' %}

{% block body %}

<div>
    <h2>Bienvenue, {{ app.user.firstname }} </h2>
    [{{ app.user.position }}]
</div>
<div class="container-homepage-backoffice">
    <ul>
        <p class="fs-3">Ici, vous pouvez gérer:</p>
        <li class="pb-3"><a href="{{ path('app_back_user_index') }}" class="fs-5">Les Licenciés</a></li>
        <li class="pb-3"><a href="{{ path('app_back_course_index') }}" class="fs-5">Les Cours</a></li>
        <li><a href="{{ path('app_back_tarif_index') }}" class="fs-5">Les Tarifs</a></li>
    </ul>
</div>

{% endblock %}