{% extends 'base.html.twig' %}

{% block body %}

    <div class="wrapper-profil d-flex align-items-center justify-content-center">
    <div class="container">
        <h2 class="text-center profil-title">Mon Profil</h2>
		<section class="my-4 p-4 section-personnalisee rounded shadow">
            <div class="row d-flex justify-content-center p-0">

                <div class="col-12 col-lg-5 col-profil">
                    <h3>Mes infos personnelles</h3>
                    <div>
                        <div class="mb-2 pb-2 profil-name">
                            <h4 class= "mt-4 mb-0">{{ app.user.firstname }} {{ app.user.lastname }}</h4>
                            {% if app.user.position is not null %}
                                <em>{{ app.user.position }}</em>
                            {% endif %}
                        </div>
                        <div class="profil-data">
                            <i class="fa-solid fa-envelope profil-icon"></i>
                            <p class="d-inline">{{app.user.email }}</p>
                        </div>
                        <div class="profil-data">
                            <i class="fa-solid fa-cake-candles profil-icon"></i>
                            <p class="d-inline">{{ app.user.dateOfBirth|date("d/m/Y") }} </p>
                        </div>
                        <div class="profil-data">
                            <i class="fa-solid fa-id-badge profil-icon"></i>
                            <p class="text-uppercase d-inline">{{app.user.licenceNumber}}</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-lg-5 col-profil">
                    <h3>Mes cours</h3>
                    <div>  
                        {% if app.user.courses is not empty %}
                            {% for course in app.user.courses %}
                                <div>
                                    <h4 class= "mt-4 mb-1">{{ course.name }}</h4>
                                    <p>Le {{ course.day }} à {{ course.hour|date('H:i')}} h</p>
                                </div>    
                            {% endfor %}
                        {% else %}
                            <p>Aucun cours</p>
                        {% endif %}  
                    </div>
                </div>

            </div>
        </section>
      </div>  
    </div>
{% endblock %}
