{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

<h2 class="text-center">Mon Profil</h2>

<div class="container row justify-content-center">
    <div class="col-md-6">
        <h3>Mes infos personnelles</h3>
        <div>
            <p>{{ app.user.firstname }} {{ app.user.lastname }}</p>
            {% if app.user.position is not null %}
                <em>{{ app.user.position }}</em>
            {% endif %}
            <i class="fa-solid fa-envelope"></i>
            <p>{{app.user.email }}</p>
            <i class="fa-solid fa-cake-candles"></i>
            <p>{{ app.user.dateOfBirth|date("d/m/Y") }} </p>
            <i class="fa-solid fa-id-badge"></i>
            <p>Numéro de licence : {{app.user.licenceNumber}}</p>
            
        </div>
    </div>
    
    <div class="col-md-6">
        <h3>Mes cours</h3>
        <div>  
            {% if app.user.userCourses is defined %}
                {% for userCourse in app.user.userCourses %}
                    <p>{{ userCourse.course.name }}</p>
                    <p>Le {{ userCourse.course.day }} à {{ userCourse.course.hour|date('H:i')}} h</p>
                {% endfor %}
            {% endif %}  
        </div>
    </div>
       
    
    
    
    
    
</div>
{% endblock %}
